<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Car Sales Web Application</display-name>

<!--  &lt;!&ndash; Servlet Configuration &ndash;&gt;-->
<!--  <servlet>-->
<!--    <servlet-name>ManageCarsServlet</servlet-name>-->
<!--    <servlet-class>com.servlet.carsales.servlet.admin.ManageCarsServlet</servlet-class>-->
<!--    <multipart-config/>  &lt;!&ndash; Enables file upload support &ndash;&gt;-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>ManageCarsServlet</servlet-name>-->
<!--    <url-pattern>/admin/car-management</url-pattern>-->
<!--  </servlet-mapping>-->

  <!-- Map uploads directory to serve images -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/uploads/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/admin/css/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>






</web-app>